@model Result

<div  style="text-align:center; font-size:80px; font-weight:bolder">Your CHampion</div>


<ul style="list-style-type:none">

	<li style="color:gold; text-align:center ;font-size:130px">
		@Model.rating

	</li>

	<li style="color:darkred; text-align:center ;font-size:130px">
		@Model.rank

	</li>

</ul>